* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    min-width: 95%;
    background-color: #ebe9df;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2, p {
    color: #494242;
    margin-top: 20px;
    text-align: center;
  }
  
  table {
    width: 70%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #8f6a5f;
  }
  
  th {
    background-color: #b8978c;
    color: white;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  .table-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-row:nth-child(odd) {
    background-color: #ebd9d1;
  }

  /* Navigation Bar */
  .header {
    background-color: #b8978c;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
  }

  .navbar {
    max-width: 1100px;
    min-width: 100%;
    margin: 1em;
  }
  .navbar, .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
  }

  .logo, .navlink, .button {
    color: #333;
  }

  .logo {
    margin-right: auto;
    font-size: 25px;
  }

  .links {
    column-gap: 25px;
  }

  .navlink:hover {
    color: #ebe9df;
  }

  .header .button {
    padding: 6px 24px;
    margin-left: 20px;
    border: 2px solid #333;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
  }

  .header .button:hover {
    color: #ebe9df;
  }



/*footer*/
.contact p a{
  line-height: 0.5px;
  color: #494242;
}

.contact p {
  text-decoration: underline;
  text-align: left;
}


.socials {
  gap: 30px;
  font-size: 40px;
  display: flex;
  justify-content: right;
}

.socials a {
  color: #98867d;
}


.socials a:hover {
  color: #716868;
}


#footer {
  position: fixed;
  bottom: 0;
  font-family: sans-serif;
  font-size: small;
  letter-spacing: 3px;
  padding: 45px;
  color: #504f4f;
  background-color: #d8d3d1;
  width: 100%;
}


