* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global styles for the body */
body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background-color: #ebe9df;
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
}

/* Styles for the header section */
.header {
    background-color: #b8978c;
    position: relative;
    height: 60px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
  }

  .navbar{
    min-width: 100%;
    background-color: #b8978c;
    position: relative;
    height: 60px;
    padding: 0 20px;
    
  }
  .navbar, .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo, .navlink, .button {
    color: #333;
  }

  .logo a{
    margin-right: auto;
    font-size: 25px;
    color: #333;
  }

  .links {
    column-gap: 25px;
  }

  .navlink:hover {
    color: #ebe9df;
  }

/* Style for the login button in the header */
  .header .button {
    padding: 6px 24px;
    margin-left: 20px;
    border: 2px solid #333;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
  }

  .header .button:hover {
    color: #ebe9df;
  }


.button:active {
  transform: scale(0.98);
}


/*About*/

.about {
  text-align: center;
  margin: auto;
}

.content h2{
  color: #494242;
  margin-top: 40px;
}

.content p{
  color: #494242;
  margin-top: 20px;
  margin-bottom: 5em;
  text-align:center;
}


/*footer*/
.contact p a{
  line-height: 0.5px;
  color: #494242;
}

.contact p {
  text-decoration: underline;
  text-align: left;
  margin: 40px;
  
}

.contact a {
  text-decoration: underline;
  padding-top: 0px;
}

.socials {
  gap: 30px;
  font-size: 40px;
  display: flex;
  justify-content: right;
}

.socials a {
  color: #98867d;
}


.socials a:hover {
  color: #716868;
}



#footer {
  position: relative;
  font-family: sans-serif;
  font-size:small;
  letter-spacing: 3px;
  padding: 30px 45px 10px 45px;
  color: #504f4f;
  background-color: #d8d3d1;
  top: 15em;
  width: 100%;
  bottom: 0;
  margin: auto;
}



/*login*/

.container{
  padding: 25px;
  border-radius: 12px;
  max-width: 340px;
  width: 100%;
  top: 20%;
  left: 36%;
  position: absolute;
  z-index: 101;
  background-color: #dbdbd5;
  box-shadow: rgba(0, 0, 0, 0.1);
  color: #333;
  opacity: 0 ;
  pointer-events: none;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
}

.container.active .signup {
  display: block;
}
.container.active .login {
  display: none;
}


/* Set the opacity of the login/signup container to 1 when it is shown */
.home.show .container{
  opacity: 1;
  pointer-events: auto;
}

/* Background overlay for the login/signup container */
.home::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background:rgba(123, 119, 119, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

/* Show the background overlay when the login/signup container is shown */
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

.signup{
  display: none;
}

.close-form{
  position: absolute;
  top: 15px;
  right: 20px;
  color: #232121;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.container h2{
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

/* Styles for the input boxes in the login/signup form */
.input-box{
  background-color: #cdcdb9;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input-box input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.2 ease;
}

.container a{
  color: #b08989;
  font-size: 11px;
}

.container a:hover{
  text-decoration: underline;
}

/* Styles for the login/signup buttons */
.container .button {
  background:#b8978c;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.login-signup {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

/* Table */

    /* Style the table container */
    .opening-time {
      width: 40%;
      margin: 2em auto; 
    }

    /* Style the table */
    .bookstore-table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 16px;
      color:#333;
      overflow: hidden;
      box-shadow: 0 0 10px rgb(130, 127, 127); /* Add a box shadow for an outline effect*/
    }

    /* Style table cells (td) */
    .bookstore-table td {
      padding: 10px; 
      text-align: left;
      border: 1px solid #a9998a;
      height: 50px;
    }

    /* Style the table header (th) */
    .bookstore-table th {
      background-color: #9e9082;
      border: 1px solid #a9998a;
      height: 50px;
    }

    /* Style all rows (tr) with the same background color */
    .bookstore-table tr {
      background-color: #ded6ce;
    }

    /* Style the holiday row */
    .bookstore-table tr.holiday-row td {
      background-color: #d3c2b1;
      text-align: center;
    }


/* CSS for Accordion */
.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 40px;
}

.accordion .question:last-child {
  border-bottom: none;
}

.accordion .question p {
  margin: 0;
  font-size: 16px;
  display: none;
  padding: 10px 0;
}

.accordion .question.active {
  background-color: #cebebe67;
}

.accordion .question:hover {
  background-color: #f1f1f1;
}


.accordion .question {
  background-color: #b69e96;
  border-bottom: 15px solid #ccc;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.accordion .question h3 {
    margin: 0;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Show the list when the question is active */
.accordion .question.active .answer {
    display: block;
}

.accordion .question .answer {
    display: none;
    margin: 0; /* Remove default margin to avoid extra space */

}


.accordion .question .answer li {
/* Decrease the space between the bullet point and the text */
  list-style: inside; 
  padding-left: 10px; /* Adjust this value as needed */
  margin-bottom: 20px;
}



/* CSS Styles for the carousel and testimonials */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.testimonial-carousel {
  text-align: center;
  max-width: 800px; /* Increased the max-width of the carousel */
  margin: 100px auto;
}

.testimonial {
  background-color: #ded6ce;
  border-radius: 15px;
  padding: 20px;
  
  margin-bottom: 20px;
  width: 300px; /* Fixed width for each carousel item */
  height: 250px; /* Fixed height for each carousel item */
  margin-right: 20px; 
}

.testimonial p {
  font-style: italic;
  font-size: 18px; /* Increased the font size for larger text */
  color: #333333;
  margin: 0;
}

/* List items inside the testimonial section */
.testimonial ul {
  list-style: inside;
  font-style: italic;
  margin-top:10px;
  font-size: 18px;
  color: #333333;
}

.testimonial ol {

  font-style: italic;
  margin-top:10px;
  font-size: 18px;
  color: #333333;
  padding-left: 30px;
}

.customer-name {
  font-weight: bold;
  margin-top: 30px;
}

/* Styles for the carousel container */
.carousel {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease;
  width: fit-content; /* Making the carousel container shrink to the width of its contents */
  margin: 0 auto; /* Centering the carousel container */
}

/* Navigation arrows */
.arrow {
  position: absolute;
  top: 65%;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  background-color: #494242;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: #494242;
}

.prev {
  left: 300px;
}

.next {
  right: 300px;
}